.navbar{
    min-width: 296px;
    position: fixed;

    &-brand a{
        background-image: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week5/logo-ANSWER.svg);
        background-repeat: no-repeat;
        display: block;
        width: 151px;
        height: 40px;
        text-indent: 101%;
        overflow: hidden;
        white-space: nowrap;

        &:hover{
            opacity: 0.6;
        }
    }    
    .nav-link:hover::before{
        content: "";
        position: absolute;
        left: 0;
        width: 4px;
        height: 32px;
        border-left: 4px solid #198754;
    }
}
.user-photo{
    width: 40px;
    height: 40px;
}
.main{
    margin-left: 296px;
}