// dropdown icon toggle效果
// 利用a標籤 aria-expanded屬性
[aria-expanded="true"]{
    .expand-more{
        display: none;
    }
    .expand-less{
        display: inline-block;
    }
}
[aria-expanded="false"]{
    .expand-more{
        display: inline-block;
    }
    .expand-less{
        display: none;
    }
}

.list-group-item.active{
    color: #212529 !important;
    background-color: #F8F9FA !important;
    border-color: #CED4DA !important;
}

.list-style-none{
    list-style: none;
}

.reply-area{
    height: 263px;
}